.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.textfield {
  height: 50px;
  width: 150px;
}

.image {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cat {
  height: 200px;
  width: 350px;
}
